<div class="container-fluid main_box">
<div class="row">
    <div class="col-md-4 box1">
    <div class="col-md-4 box5">
        <img src="../../assets/images/Screenshot 2023-06-28 220804.png" class="img1">
        <button type="button" class="login"><a routerLink="signup">signup</a></button>
        <button type="button" class="manage">My Trips</button>
        <select name="menu" class="menu">
            <option>Recently viewed</option>
            <option>Help and support</option>
        </select>
     </div>
     <div class="col-md-3 box2">
         <div class="col-md-12 box3">
             <input type="search" name="from" placeholder="From" class="input_1">
             <input type="search" name="to" placeholder="To" class="input_1">
             <input type="date" name="departure" placeholder="Departure" class="input_1" title="Departure">
             <input type="date" name="return" placeholder="Return" class="input_1" title="Return">
             <button type="button" class="btn1">Search </button>
            </div>
     </div>
     <h1 class="slogon">SEARCH      FOR         PEACE</h1>
    </div>
</div>
<div class="box6">
    <button class="btn2"><span>
        <i class="fa fa-home" aria-hidden="true"></i>
    </span>  Stays</button>
    <button class="btn2"><span>
        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
    </span>  Flight</button>
    <button class="btn2"><span>
        <i class="fa fa-car" aria-hidden="true"></i>
    </span>   Car rentals</button>
    <button class="btn2"><span>
        <i class="fa fa-cogs" aria-hidden="true"></i>
    </span>   Itinerary</button>
    <button class="btn2"><span>
        <i class="fa fa-money" aria-hidden="true"></i>
    </span>   Coupons</button>
 </div>
</div>
