<div class="container-fluid">
    <div class="row full">
        <div class="col-md-12 p-3 foot">
            <div class="col-md-3 border justify-content m-5">
            <h4>Why Follow Us?</h4>
            <p>As our company wants you to not fall in scam's.So as our main priority is to make your trip best and side by side with no hustles or any kind of struggle.We will deliver you great deals and offer for your bookings and will make you avail what you are wishing for your trip.we can provide you with all the bookings of your trip and itienary you can enjoy on your trip.Wishing this must be your best trip.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 footer">
        <a href="*"> <i class='fab fa-instagram p-5 insta' style='font-size:36px; color:white'></i></a>
        <a href="*"><i class="fab fa-whatsapp" style="font-size: 36px; color:white"></i></a>
        <h3 class="one">2023 FOLLOWUS PVT.LTD.</h3>
    </div>
</div>