@font-face{
    font-family: 'slogon';
    src: url(../../assets/fonts/WinterSong-owRGB.ttf);
}
.box_1{
    height: 400px;
    width: 100%;
    /* border: 1px solid black; */
    background-image: url(../../assets/images/venice-wallpaper-4k-492886.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.box_main{
    display: flex;
    width: 100%;
    overflow: scroll;
}
.box_5{
    height: 100px;
    width: 100%;
    /* border: 1px solid black; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(0, 0, 0, 0.292);
}
.box1{
    background-color:whitesmoke;
    height: auto;
    margin-left: 20%;
    margin-top:2%;
    margin-bottom: 2%;
    border-radius: 10px;
    box-shadow: 2px 2px 30px 1px grey;
    display: flex;
}
.photo_box{
    height: 180px;
    display: inline-block;
    position: relative;
    margin-top: 8%;
    /* width: 20%; */
    margin-left: -10%;
    background-image: url(../../assets/images/room3.webp);
}
.bed1{
    position: absolute;
    top: 100%;
    left: 0%;
} 
.bed_text{
    position: absolute;
    top: 99%;
    left: 23%;
    font-size: 15px;
}
.box2{
    margin-left: 5%;
    height: 314px;
    margin-top: 5%;
}
.bb{
    display: inline-block;
}
.sb{
    display: inline-block;
    margin-left: 27%;
}
.pb{
    display: inline-block;
    margin-left: 5%;
}
.pp{
    display: inline-block;
    margin-left: 8%;
}
.box3{
    border: 1px solid rgb(159, 159, 4);
    height: 270.6px;
}
.header{
    background-color: rgb(159, 159, 4);
}
.line{
    color: white;
    font-weight: 500;
}
.lines{
    font-size: 12px;
}
.box4{
    margin-top: -24%;
    margin-left: 33.5%;
    height: 270px;
    border-bottom: none;
    border-top: none;
}
.box5{
    margin-top: -36.7%;
    margin-left: 41.8%;
    height: 269px;
    border-bottom: none !important;
    border-top: none ;
}
.box6{
    height: 269px;
    margin-top: -36.5%;
    margin-left: 74.9%;
    border-bottom: none;
    border-top: none;
}
.btn1{
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
}
.img_1{
    height: 90px;
    border-radius: 10px;
    position:absolute;
    opacity:80%;
    left: 7%;
    top: 0.5%;
}
.login{
    height: 50px;
    width: 12%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    left:80%;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.461);
    border: none;
    box-shadow: 1px 1px rgba(134, 134, 134, 0.575);
}