<div class="container-fluid main_box">
  <div class="row">
      <div class="col-md-4 box1">
      <div class="col-md-4 box5">
          <img src="../../assets/images/logo.png" class="img1">
          <button type="button" class="login"><a routerLink="signup">signup/login</a></button>
          <button type="button" class="manage">My Trips</button>
          <select name="menu" class="menu">
              <option>Recently viewed</option>
              <option>Help and support</option>
          </select>
       </div>
       <div class="col-md-3 box2">
           <div class="col-md-12 box3">
               <input type="search" name="from" placeholder="From" class="input_1" title="From">
               <input type="search" name="to" placeholder="To" class="input_1" title="To">
               <input type="date" name="departure" placeholder="Departure" class="input_1" title="Departure">
               <input type="date" name="return" placeholder="Return" class="input_1" title="Return">
               <button type="button" class="btn1">Search </button>
              </div>
       </div>
      
       <h1 class="slogon">SEARCH      FOR         PEACE</h1>
      </div>
  </div>
  <div class="box6">
    <a class="stay" href="#stay"><button class="btn2"><span>
          <i class="fa fa-home" aria-hidden="true"></i>
      </span>Stays</button></a>
      <button class="btn2"><span>
          <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
      </span>  Flight</button>
      <button class="btn2"><span>
          <i class="fa fa-car" aria-hidden="true"></i>
      </span>   Car rentals</button>
      <button class="btn2"><span>
          <i class="fa fa-cogs" aria-hidden="true"></i>
      </span>   Itinerary</button>
      <button class="btn2"><span>
          <i class="fa fa-money" aria-hidden="true"></i>
      </span>   Coupons</button>
   </div>
  </div>
  
<!-- main -->
<div class="container">
  <div class="row shell1">
      <div class="col-md-12 destinations p-5 m-3">
          <h2 class="text-center">Top destinations in India</h2>
      </div>
      <div class="container-fluid coursel">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
          </ol>
        
          <!-- Wrapper for slides -->
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-2 border">
                      <div class="round_1">
                      
                      </div>
                      <h4 class="text-center p-3 m-3 text-light">New Delhi</h4>
                   </div>
                   <div class="col-md-2 border">
                    <div class="round_2">
        
                    </div>
                    <h4 class="text-center p-3 m-3 text-light">Goa</h4>
                </div>
                <div class="col-md-2 border">
                    <div class="round_3">
        
                    </div>
                    <h4 class="text-center p-3 m-3 text-light">Mumbai</h4>
                </div>
                <div class="col-md-2 border">
                    <div class="round_4">
                    </div>
                    <h4 class="text-centre p-3 m-3 text-light">Bangalore</h4>
                </div>
                <div class="col-md-2 border">
                    <div class="round_5">
        
                    </div>
                    <h4 class="text-centre p-3 m-3 text-light">Hyderabad</h4>
                </div>
                <div class="col-md-2 border">
                    <div class="round_6">
        
                    </div>
                    <h4 class="text-centre p-3 m-3 text-light">Chennai</h4>
                </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-2 border">
                  <div class="round_1">
                      
                  </div>
                  <h4 class="text-center p-3 m-3 text-light">New Delhi</h4>
               </div>
               <div class="col-md-2 border">
                <div class="round_2">
    
                </div>
                <h4 class="text-center p-3 m-3 text-light">Goa</h4>
            </div>
            <div class="col-md-2 border">
                <div class="round_3">
    
                </div>
                <h4 class="text-center p-3 m-3 text-light">Mumbai</h4>
            </div>
            <div class="col-md-2 border">
                <div class="round_4">
                </div>
                <h4 class="text-centre p-3 m-3 text-light">Bangalore</h4>
            </div>
            <div class="col-md-2 border">
                <div class="round_5">
    
                </div>
                <h4 class="text-centre p-3 m-3 text-light">Hyderabad</h4>
            </div>
            <div class="col-md-2 border">
                <div class="round_6">
    
                </div>
                <h4 class="text-centre p-3 m-3 text-light">Chennai</h4>
            </div>
                </div>
                <!-- <img src="../../assets/images/download.jpg" class="d-block w-100" alt="..."> -->
              </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>   
      </button>
      </div>
      </div>
      </div>
      </div>
      <!-- <div class="container-fluid">
        <p class="">text</p>
      </div> -->
<div class="conatiner-fluid" id="stay">
  <div class="row">
    <div class="card" style="width: 18rem;height:24rem" *ngFor="let places of place">
       <a routerLink="detail/{{places.id}}">
      <img class="card-img-top" src="../../assets/images/goa.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{places.hotel_name}}</h5>
        <p><i class='fas fa-map-marker-alt' style='font-size:12px;color:black'></i><br>
          <span class="text-danger">INR {{places.price}}</span></p>
          <button type="button" class="btn btn-primary">Book Now</button>
      </div>
    </a>
    </div>
    <!-- <div class="card" style="width: 18rem;height:23rem"> 
      <a routerLink="./detail">
      <img class="card-img-top" src="../../assets/images/delhi.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Name</h5>
        <p><i class='fas fa-map-marker-alt' style='font-size:12px;color:black'></i>   Delhi<br>
          <span class="text-danger">INR -3500</span></p>
        <button type="button" class="btn btn-primary">Book Now</button>
      </div>
      </a>
    </div>
  <div class="card" style="width: 18rem;height:23rem">
    <a routerLink="../detail">
      <img class="card-img-top" src="../../assets/images/chennai.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Name</h5>
        <p><i class='fas fa-map-marker-alt' style='font-size:12px;color:black'></i>   Chennai<br>
        <span class="text-danger">INR -2000</span></p>
        <button type="button" class="btn btn-primary">Book Now</button>
      </div>
    </a>
    </div>
    <div class="card" style="width: 18rem;height:23rem">
      <a routerLink="detail">
      <img class="card-img-top" src="../../assets/images/bangalore.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Name</h5>
        <p><i class='fas fa-map-marker-alt' style='font-size:12px;color:black'></i>   Bangalore<br>
          <span class="text-danger">INR -3000</span></p>
          <button type="button" class="btn btn-primary">Book Now</button>
      </div>
      </a>
    </div> -->
  </div>
</div>
  </div>
</div>
